@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #dde6ed;
}

header {
  display: flex;
  width: 100%;
  background-color: #27374d;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.5rem;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: solid 1px #9db2bf;
}

.logo {
  color: #dde6ed;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 900;
}

.top-navigation ul {
  display: flex;
  gap: 0.8rem;
  list-style: none;
  font-weight: 500;
}

.top-navigation ul li {
  padding: 0.5rem 2rem;
  color: #dde6ed;
  text-transform: uppercase;
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
}

.top-navigation ul li:hover {
  background-color: #dde6ed;
  cursor: pointer;
  color: #27374d;
  box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.5);
}

.top-navigation ul li a {
  color: inherit;
  text-decoration: none;
}

/* end of header */

.jumbotron {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(39, 55, 77, 0.5), rgba(39, 55, 77, 0.5)),
    url("../asset/lily-banse-YHSwy6uqvk-unsplash.webp");
  background-size: cover;
  color: #dde6ed;
  position: relative;
}

.jumbotron h1 {
  text-transform: uppercase;
}

.jumbotron-head-container {
  position: absolute;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 3rem;
}

.search-bar input {
  width: 50rem;
  padding: 1rem;
  border-radius: 3rem;
  border: solid 1px #dde6ed;
  background-color: #dde6ed;
  border: solid 3px #27374d;
}

.search-bar:hover {
  box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.5);
}

.search-bar button {
  padding: 1rem;
  cursor: pointer;
  border-radius: 3rem;
  position: absolute;
  right: 0;
  border: none;
  background-color: #27374d;
  color: #dde6ed;
  border: solid 1px #27374d;
}

/* end of jumbotron*/

.card-container {
  padding: 2.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  color: #27374d;
}

.card-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  width: 25rem;
  /* min-height: 50rem; */
  /* max-height: 40rem; */
  position: relative;
}

.card-item h3 {
  text-align: center;
}

.card-item figure {
  padding: 1rem;
}

.card-item img {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  cursor: zoom-in;
}

.card-item p {
  padding-bottom: 3rem;
}

.card-item button {
  padding: 0.5rem 2rem;
  color: #dde6ed;
  text-transform: uppercase;
  border-radius: 45px;
  transition: all 0.2s ease-in-out;
  background-color: #27374d;
  position: absolute;
  bottom: 1rem;
}

.card-item button:hover {
  background-color: #dde6ed;
  cursor: pointer;
  color: #27374d;
  box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.5);
}

.card-item:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* end of main */

.footer-container {
  margin-top: 5rem;
  border-top: solid 3px black;
  background-color: #526d82;
  color: black;
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  color: #dde6ed;
}

.footer-item {
  width: 25rem;
}

.footer-container ul {
  list-style-type: none;
  display: flex;
  gap: 1.2rem;
}

.footer-container h4 {
  padding-left: 0.5rem;
}

.footer-container ul li a {
  color: inherit;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}

.footer-container ul li a:hover {
  background-color: #dde6ed;
  cursor: pointer;
  color: #27374d;
  box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.5);
}

.social-media ul {
  padding-top: 1rem;
}

.footer-container .contact-us ul {
  flex-direction: column;
  padding-top: 1rem;
}

.footer-copyright {
  background-color: #27374d;
  color: #dde6ed;
}

.footer-copyright p {
  text-align: center;
  margin: 0;
  padding: 2rem;
}

/* end of footer */

/* for testiing */

.overlay {
  position: fixed;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.content {
  position: fixed;
  z-index: 3;
  /* padding: 5rem; */
  width: 60vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  display: none;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  color: black;
  z-index: 3;
  font-size: 1.5rem;
  cursor: pointer;
}

.card-item-pop-up {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  padding: 1rem;
  /* width: 100%; */
  position: relative;
}

.card-item-pop-up h3 {
  text-align: center;
}

.card-item-pop-up figure {
  padding: 1rem;
}

.card-item-pop-up figure {
  text-align: center;
}

.card-item-pop-up img {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 5px;
  width: 70%;
  max-height: 300px;
  /* object-fit: fill; */
  object-position: center;
}

.card-item-pop-up p {
  padding-bottom: 3rem;
}

/* body {
  overflow: hidden;
} */
.pop-up.active .overlay {
  display: block;
}

.pop-up.active .content {
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
